/*

    OPACITY
    Docs: http://tachyons.io/docs/themes/opacity/

*/

.o-100 { opacity: 1;    }
.o-90  { opacity: .9;   }
.o-80  { opacity: .8;   }
.o-70  { opacity: .7;   }
.o-60  { opacity: .6;   }
.o-50  { opacity: .5;   }
.o-40  { opacity: .4;   }
.o-30  { opacity: .3;   }
.o-20  { opacity: .2;   }
.o-10  { opacity: .1;   }
.o-05  { opacity: .05;  }
.o-025 { opacity: .025; }
.o-0   { opacity: 0; }


.hover-o-100:hover { opacity: 1;    }
.hover-o-90:hover  { opacity: .9;   }
.hover-o-80:hover  { opacity: .8;   }
.hover-o-70:hover  { opacity: .7;   }
.hover-o-60:hover  { opacity: .6;   }
.hover-o-50:hover  { opacity: .5;   }
.hover-o-40:hover  { opacity: .4;   }
.hover-o-30:hover  { opacity: .3;   }
.hover-o-20:hover  { opacity: .2;   }
.hover-o-10:hover  { opacity: .1;   }
.hover-o-05:hover  { opacity: .05;  }
.hover-o-025:hover { opacity: .025; }
.hover-o-0:hover   { opacity: 0; }